<!-- <app-header></app-header> -->
<app-header singleImege="/assets/logo/banner-img/INITIATIVES.jpg"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding: unset">
      <img
        src="/assets/logo/banner-img/INITIATIVES.jpg"
        alt=""
        class="img-banner w-100"
      />
    </div>
  </div>
</div>
<section class="container pt-3 pb-5">
  <div class="row">
    <p class="text-primary text-uppercase pb-5" i18n>our initiatives</p>
    <div class="col-md-8">
      <p class="fs-4" i18n>
        OUR <br /><span class="fs-4 fw-bold">INITIATIVES</span>
      </p>
      <p i18n>
        World-class sporting champions have risen and continue to rise from
        Tamil Nadu due to the following support structures. Take a detailed look
        at each one of them to appreciate their unique role.
      </p>
    </div>
  </div>

  <div class="d-flex align-items-start" style="border: 1px solid #2c4257">
    <div
      class="nav flex-column nav-pills select-tbs"
      role="tablist"
      aria-orientation="vertical"
    >
      <div class="tabs-sel" data-bs-toggle="pill" data-bs-target="#one" [ngClass]="{ 'active': fragment === 'one' }" i18n>
        TN Chief Minister's Trophy
      </div>
      <div class="tabs-sel" data-bs-toggle="pill" data-bs-target="#two" [ngClass]="{ 'active': fragment === 'two' }" i18n>
        Special scholarship for Elite sports persons
      </div>
      <div
        class="tabs-sel active"
        data-bs-toggle="pill"
        data-bs-target="#three" [ngClass]="{ 'active': fragment === 'three' }"
        i18n
      >
        Mission International Medals Scheme-MIMS
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#four" [ngClass]="{ 'active': fragment === 'four' }"
        (click)="gotoTop()"
        i18n
      >
        Champions Development Scheme-CDS
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#five" [ngClass]="{ 'active': fragment === 'five' }"
        (click)="gotoTop()"
        i18n
      >
        World Beaters Talent Spotting Scheme
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#six" [ngClass]="{ 'active': fragment === 'six' }"
        (click)="gotoTop()"
        i18n
      >
        Centers of Excellence
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#seven" [ngClass]="{ 'active': fragment === 'seven' }"
        (click)="gotoTop()"
        i18n
      >
        Specialized Sports <br />
        Academies
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#eight" [ngClass]="{ 'active': fragment === 'eight' }"
        (click)="gotoTop()"
        i18n
      >
        Sports Hostels
      </div>
      <div
        class="tabs-sel"
        data-bs-toggle="pill"
        data-bs-target="#nine" [ngClass]="{ 'active': fragment === 'nine' }"
        (click)="gotoTop()"
        i18n
      >
        Sports Hostels of Excellence
      </div>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade" id="one"  [class.active]="fragment === 'one'" [class.show]="fragment === 'one'">
        <h4 i18n>TN Chief Minister'sTrophy</h4>
        <p i18n="@@content1">
          CM Trophy intends to be the top most Sports Competition in the State
          across 15 disciplines in 5 categories of participation – School
          students, College students, Differently abled, Government employees
          and the General Public. This has evolved into a single umbrella under
          which all District, State level Competitions are held. Since the
          Competitions are held at District, Regional and State levels, it acts
          as a platform for talent identification. Winners are awarded
          certificates of merit along with cash prizes. CM Trophy 2022-2023
          witnessed huge participation of 3,71,351 at District levels. The
          Winners and the best teams from all 38 Districts participated in the
          State Level Chief Minister’s Trophy Competitions in Chennai from
          30.06.2023 to 25.07.2023. More than 27000 participants and 3,000
          officials took part.
        </p>
        <p i18n="@@content2">
          Competitions were conducted in more than 15 venues in Chennai. A cash
          award of Rs 9,80,60,000/- was awarded to 2101 Winners ranging from
          Rs.25,000/- to 1,00,000/-. Free food and accommodation facilities were
          provided to all participants and officials. The Prestigious Chief
          Minister’s Trophy was awarded to Chennai based on the number of Medals
          won in the State Level Competitions. In the inaugural ceremony, the
          Hon’ble Minister for Youth Welfare & Sports Development Department
          presided over the valedictory function, and the Hon’ble Chief Minister
          of Tamil Nadu presided over and presented the Chief Minister’s Trophy.
        </p>
      </div>
      <div class="tab-pane fade" id="two" [class.active]="fragment === 'two'" [class.show]="fragment === 'two'">
        <h4 i18n>Special scholarship for Elite sports persons</h4>
        <p i18n>
          "Special Scholarship for Elite Sports Persons Scheme '' extends
          need-based assistance to sports persons who have the potential to win
          medals at Olympics and other International level competitions. As per
          the scheme, financial assistance to the tune of Rs.30.00 lakh per head
          per annum is provided. Currently, 25 elite sports persons are getting
          assistance under this scheme, and out of them, five athletes were
          representing India in the Tokyo Olympics 2020.
        </p>
      </div>
      <div class="tab-pane fade active show" id="three" [class.active]="fragment === 'three'" [class.show]="fragment === 'three'">
        <h4 i18n>Mission International Medals Scheme - MIMS</h4>
        <p i18n>
          An annual financial assistance to the tune of Rs.12.00 lakh is
          extended to a player who has the potential to win medals at
          international level competitions. The assistance is given for the
          purchase of sports equipment and kits, undergoing training abroad,
          participation in international competitions, etc. At present, 75
          sports persons including 5 Para athletes are getting benefited under
          this scheme.
        </p>
      </div>
      <div class="tab-pane fade" id="four" [class.active]="fragment === 'four'" [class.show]="fragment === 'four'">
        <h4 i18n>Champions Development Scheme - CDS</h4>
        <p i18n>
          Under this scheme, national-level gold medal winners below 20 years of
          age are selected and extended need-based assistance to the tune of
          Rs.2.00 lakh per head per annum. The scheme extends assistance for the
          purchase of sports uniforms and kits, training abroad, and
          competition-related expenses. At present, 102 sports persons are
          benefiting from this scheme.
        </p>
      </div>
      <div class="tab-pane fade" id="five" [class.active]="fragment === 'five'" [class.show]="fragment === 'five'">
        <h4 i18n>World Beaters Talent Spotting Scheme</h4>
        <p i18n>
          The World Beaters Talent Spotting Scheme (WBTSS) is a systematic and
          structured approach to identify and nurture young, talented children
          in the field of sports. The program is initiated with a series of
          tests administered in schools, followed by further selection processes
          and specialized coaching.
        </p>
        <p i18n>
          In the initial stage, the School Education Department, in
          collaboration with the Sports Development Authority of Tamil Nadu
          (SDAT), conducts a battery of tests in schools to assess the motor
          abilities of children. These tests are designed to evaluate essential
          physical attributes such as speed, endurance, agility, coordination,
          strength, and flexibility. By identifying children with innate
          physical abilities, the WBTSS aims to provide them with opportunities
          to develop their skills in sports and other physical activities.
        </p>
      </div>
      <div class="tab-pane fade" id="six" [class.active]="fragment === 'six'" [class.show]="fragment === 'six'">
        <h4 i18n>Centres of Excellence</h4>
        <p i18n>
          Centres of Excellence aim to identify talented young students between
          the ages of 10 and 14. A panel of experts at the state level selects
          boys and girls for admission into Centres of Excellence located in
          Chennai, Tiruchirappalli, Tirunelveli, Erode, and Vellore. These
          centers have a capacity with an allotted strength of 150 and a present
          strength of 130. The Centre of Excellence provides systematic and
          scientific coaching, nutritious food and all the required facilities
          to augment the performance of the sports persons. 
          There are 6 Centres of Excellence functioning with the present strength 136 in the State:
        </p>
        <!--  -->
        <table>
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Name of the Sports Hostel</th>
              <th>Discipline</th>
              <!-- <th>Name of the Coach</th> -->
              <th>Allotted Strength</th>
              <th>Present Strength</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>CoE Indoor Stadium (Girls)</td>
              <td>Athletics</td>
              <!-- <td>Gomathi</td> -->
              <td>15</td>
              <td>14</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Badminton</td>
              <!-- <td>Tamilmani</td> -->
              <td>10</td>
              <td>4</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>25</strong></td>
              <td><strong>18</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td>CoE Chennai (Boys)</td>
              <td>Athletics</td>
              <!-- <td>K.Vinoth Kumar</td> -->
              <td>16</td>
              <td>16</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Badminton</td>
              <!-- <td>Tamilmani</td> -->
              <td>9</td>
              <td>7</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>25</strong></td>
              <td><strong>23</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td>CoE Erode (Girls)</td>
              <td>Gymnastic</td>
              <!-- <td>R.Pradeep</td> -->
              <td>15</td>
              <td>9</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Swimming</td>
              <!-- <td>R.Velmurugan</td> -->
              <td>10</td>
              <td>3</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>25</strong></td>
              <td><strong>12</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td>CoE Trichy (Boys)</td>
              <td>Taekwondo</td>
              <!-- <td>Veeramani (Visiting)</td> -->
              <td>16</td>
              <td>16</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Badminton</td>
              <!-- <td>Rajiv Gandhi</td> -->
              <td>9</td>
              <td>8</td>
            </tr>
            <tr>
              <td></td>
              <!-- <td></td> -->
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>25</strong></td>
              <td><strong>24</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td>CoE Tirunelveli (Boys)</td>
              <td>Boxing</td>
              <!-- <td>R.Sam Ebenazer</td> -->
              <td>5</td>
              <td>8</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Gymnastic</td>
              <!-- <td>R.Periyamaruthu</td> -->
              <td>10</td>
              <td>8</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Swimming</td>
              <!-- <td>Rejin Merit</td> -->
              <td>5</td>
              <td>5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Tennis</td>
              <!-- <td>K.Dharmaraj</td> -->
              <td>5</td>
              <td>2</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>25</strong></td>
              <td><strong>23</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td>CoE for Weightlifting (B&G) Sathuvachari</td>
              <td>Weightlifting (B)</td>
              <!-- <td>Vinayagamurthy (Contract)</td> -->
              <td>25</td>
              <td>23</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Weightlifting (G)</td>
              <!-- <td>V.Shanthi</td> -->
              <td>25</td>
              <td>13</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>50</strong></td>
              <td><strong>36</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" style="text-align: right; padding-right: 8px;"><strong>Grand Total</strong></td>
              <td><strong>150</strong></td>
              <td><strong>136</strong></td>
            </tr>
          </tfoot>
        </table>
        <!--  -->
      </div>
      <div class="tab-pane fade" id="seven" [class.active]="fragment === 'seven'" [class.show]="fragment === 'seven'">
        <h4 i18n>Specialized Sports Academies</h4>
        <p i18n>
          Government has set up specialized academies at several places in Tamil
          Nadu. The students who score 10, 9 and 8 marks out of 10 in the
          battery of tests conducted under the “World Beaters Talent Spotting
          Scheme” are chosen after conducting selection trials by the experts
          and they are inducted into these specialised academies based on their
          abilities and talents. The selected sportspersons are imparted
          scientific training by experienced coaches and international players
          in the concerned disciplines.
        </p>
      </div>
      <div class="tab-pane fade" id="eight" [class.active]="fragment === 'eight'" [class.show]="fragment === 'eight'">
        <h4 i18n>Sports Hostels</h4>
        <p i18n>
          Sports Hostels have been established to identify and nurture sporting
          talents at the school level. Students, both boys and girls studying in
          VII, VIII, IX and XI std are admitted in these sports hostels by
          two-tier selection trials i.e., District level selection trials and
          state-level selection trials. Apart from scientific coaching, the
          inmates of sports hostels are provided with a dietary charge of
          Rs.250/- per head per day for 320 days; Rs.4,000/- per head per year
          for sports uniforms and Rs.1,000/- for sports equipment.  27 sports hostels are functioning in the State, with the  present strength of 1629.
        </p>
        <!-- class="scrollable-container" -->
        <div class="scrollable-container">
          <table>
            <thead>
              <tr>
                <th>Sl. No.</th>
                <th>Name of the Sports Hostel</th>
                <th>Discipline</th>
                <!-- <th>Name of the Coach</th> -->
                <th>Allotted Strength</th>
                <th>Present Strength</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>SH Ariyalur (Boys)</td>
                <td>Handball</td>
                <!-- <td>Hariharan</td> -->
                <td>18</td>
                <td>17</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>Rajkumar (i/c)</td> -->
                <td>32</td>
                <td>25</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>50</strong></td>
                <td><strong>42</strong></td>
              </tr>
              <tr>
                <td>2</td>
                <td>SH JNIS (Girls), Chennai</td>
                <td>Volleyball</td>
                <!-- <td>R.Mythili (ML)</td> -->
                <td>30</td>
                <td>27</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Fencing</td>
                <!-- <td>K.CarolinSandhiya (ML)</td> -->
                <td>7</td>
                <td>7</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Boxing</td>
                <!-- <td>Narmadha (i/c)</td> -->
                <td>7</td>
                <td>10</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Judo</td>
                <!-- <td>Manikandan (i/c)</td> -->
                <td>6</td>
                <td>8</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>50</strong></td>
                <td><strong>52</strong></td>
              </tr>
              <tr>
                <td>3</td>
                <td>SH JNS (Boys) Chennai</td>
                <td>Boxing</td>
                <!-- <td>Chalapathy (SHE)</td> -->
                <td>17</td>
                <td>17</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Fencing</td>
                <!-- <td>Dinesh Devaraj</td> -->
                <td>8</td>
                <td>9</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Judo</td>
                <!-- <td>Sarath Babu (SHE)</td> -->
                <td>10</td>
                <td>10</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>35</strong></td>
                <td><strong>36</strong></td>
              </tr>
              <tr>
                <td>4</td>
                <td>SH GHSS. Pudur Chennai.(Boys)</td>
                <td>Cricket</td>
                <!-- <td>Manivannan(Contract)</td> -->
                <td>40</td>
                <td>40</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>40</strong></td>
                <td><strong>40</strong></td>
              </tr>
              <tr>
                <td>5</td>
                <td>SH Coimbatore (Boys)</td>
                <td>Athletics</td>
                <!-- <td>A.Mothi Arun</td> -->
                <td>12</td>
                <td>6</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>M.Prem Kumar</td> -->
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Gymnastics</td>
                <!-- <td>Syed Mohamed (Visiting)</td> -->
                <td>8</td>
                <td>8</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>C.Surendran</td> -->
                <td>20</td>
                <td>26</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>60</strong></td>
              </tr>

              <tr>
                <td>6</td>
                <td>SH Cuddalore (Boys)</td>
                <td>Athletics</td>
                <!-- <td>E.Mayakrishnan</td> -->
                <td>20</td>
                <td>6</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Badminton</td>
                <!-- <td>S.Surendren(Visting)</td> -->
                <td>20</td>
                <td>11</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Taekwon-do</td>
                <!-- <td>R.Ilavarasan(Visting)</td> -->
                <td>20</td>
                <td>20</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>37</strong></td>
              </tr>
              <tr>
                <td>7</td>
                <td>SH Dindigul (Girls)</td>
                <td>Athletics</td>
                <!-- <td>K.Rekha</td> -->
                <td>15</td>
                <td>16</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>A.Ramachandran</td> -->
                <td>20</td>
                <td>21</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>M.Kalaiarasi</td> -->
                <td>25</td>
                <td>20</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>57</strong></td>
              </tr>
              <tr>
                <td>8</td>
                <td>SH Dharmapuri (Girls)</td>
                <td>Badminton</td>
                <!-- <td>Santhosh Kumar(Vist.)</td> -->
                <td>12</td>
                <td>1</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Kabaddi</td>
                <!-- <td>R.M.Pyara</td> -->
                <td>24</td>
                <td>22</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>Arul Prabu</td> -->
                <td>24</td>
                <td>17</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>40</strong></td>
              </tr>
              <tr>
                <td>9</td>
                <td>SH Erode (Girls)</td>
                <td>Athletics</td>
                <!-- <td>R.Kanmani Devi</td> -->
                <td>29</td>
                <td>23</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>B.Sathya</td> -->
                <td>34</td>
                <td>28</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>Porkodi</td> -->

                <td>24</td>
                <td>24</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Swimming</td>
                <!-- <td>R.Velmurugan (CoE)</td> -->
                <td>3</td>
                <td>2</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>90</strong></td>
                <td><strong>77</strong></td>
              </tr>
              <tr>
                <td>10</td>
                <td>SH Krishnagiri (Boys)</td>
                <td>Athletics</td>
                <!-- <td>J.Kudilarasan</td> -->
                <td>25</td>
                <td>15</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>T.Subramani</td> -->
                <td>35</td>
                <td>22</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Handball</td>
                <!-- <td>T.Senguttuvan</td> -->
                <td>30</td>
                <td>28</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Taekwondo</td>
                <!-- <td>Shankar (Contract)</td> -->
                <td>20</td>
                <td>19</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>110</strong></td>
                <td><strong>84</strong></td>
              </tr>
              <tr>
                <td>11</td>
                <td>SH Madurai (Boys)</td>
                <td>Athletics</td>
                <!-- <td>R.Jothi Basu</td> -->
                <td>20</td>
                <td>12</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>K.Prabu</td> -->
                <td>25</td>
                <td>27</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>V.Kala</td> -->
                <td>35</td>
                <td>31</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>M.Vijaya kumar</td> -->
                <td>34</td>
                <td>34</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>N.Sivakumar</td> -->
                <td>24</td>
                <td>16</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Table Tennis</td>
                <!-- <td>Balaji (Contract)</td> -->
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>140</strong></td>
                <td><strong>123</strong></td>
              </tr>
              <tr>
                <td>12</td>
                <td>SH, NLC, Neyveli (Boys)</td>
                <td>Athletics</td>
                <!-- <td>James (School Educ.)</td> -->
                <td>20</td>
                <td>12</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>Vadivel Murugan (Contract)</td> -->
                <td>24</td>
                <td>21</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>Johnson (School Educ.)</td> -->
                <td>36</td>
                <td>35</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>80</strong></td>
                <td><strong>68</strong></td>
              </tr>
              <tr>
                <td>13</td>
                <td>SH Nagercoil (Girls)</td>
                <td>Athletics</td>
                <!-- <td>Manivasan (Visiting)</td> -->
                <td>20</td>
                <td>13</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>Arunachalam (Visit)</td> -->
                <td>25</td>
                <td>18</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Swimming</td>
                <!-- <td>K.C.Azhivasan</td> -->
                <td>5</td>
                <td>1</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>50</strong></td>
                <td><strong>32</strong></td>
              </tr>
              <tr>
                <td>14</td>
                <td>SH Namakkal (Girls)</td>
                <td>Football</td>
                <!-- <td>Sathish Kumari</td> -->
                <td>36</td>
                <td>32</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Kabaddi</td>
                <!-- <td>S.Bhuvaneshwari</td> -->
                <td>24</td>
                <td>23</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>55</strong></td>
              </tr>
              <tr>
                <td>15</td>
                <td>SH The Nilgiris (Boys)</td>
                <td>Football</td>
                <!-- <td>S.Senthil Raj</td> -->
                <td>39</td>
                <td>32</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Athletics</td>
                <!-- <td>B.Indira</td> -->
                <td>21</td>
                <td>14</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>46</strong></td>
              </tr>
              <tr>
                <td>16</td>
                <td>SH Perambalur (Girls)</td>
                <td>Athletics</td>
                <!-- <td>S.Durga</td> -->
                <td>16</td>
                <td>16</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Handball</td>
                <!-- <td>Sharmila</td> -->
                <td>24</td>
                <td>22</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Taekwondo</td>
                <!-- <td>D.Barani devi</td> -->
                <td>20</td>
                <td>19</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>57</strong></td>
              </tr>
              <tr>
                <td>17</td>
                <td>SH Pudukkottai (Girls)</td>
                <td>Athletics</td>
                <!-- <td>R.Pavithra</td> -->
                <td>19</td>
                <td>19</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>Rajamani(Contract)</td> -->
                <td>36</td>
                <td>28</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>55</strong></td>
                <td><strong>47</strong></td>
              </tr>
              <tr>
                <td>18</td>
                <td>SH Ramnad (Boys)</td>
                <td>Hockey</td>
                <!-- <td>A.Manikandan</td> -->
                <td>36</td>
                <td>31</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Athletics</td>
                <!-- <td>A.Hanifa (Visiting)</td> -->
                <td>14</td>
                <td>5</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>50</strong></td>
                <td><strong>36</strong></td>
              </tr>
              <tr>
                <td>19</td>
                <td>SH Sivagangai (Boys)</td>
                <td>Athletics</td>
                <!-- <td>Arumugam (Visiting)</td> -->
                <td>24</td>
                <td>5</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>V.Karthick</td> -->
                <td>36</td>
                <td>25</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>30</strong></td>
              </tr>
              <tr>
                <td>20</td>
                <td>SH, Selvam HSS, Namakkal</td>
                <td>Athletics (Girls)</td>
                <!-- <td>G.Gokila</td> -->
                <td>15</td>
                <td>13</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Fencing (Girls)</td>
                <!-- <td>S.Prabukumar</td> -->
                <td>20</td>
                <td>16</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Fencing (Boys)</td>
                <!-- <td>S.Prabukumar</td> -->
                <td>20</td>
                <td>18</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Archery (Boys)</td>
                <!-- <td>D.Rashika</td> -->
                <td>5</td>
                <td>7</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>54</strong></td>
              </tr>
              <tr>
                <td>21</td>
                <td>SH Thanjavur (Boys)</td>
                <td>Basketball</td>
                <!-- <td>K.Babu</td> -->
                <td>20</td>
                <td>16</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>Muthukumar (Visting)</td> -->
                <td>25</td>
                <td>19</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Athletics</td>
                <!-- <td>S.Neelaveni</td> -->
                <td>10</td>
                <td>6</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>55</strong></td>
                <td><strong>41</strong></td>
              </tr>
              <tr>
                <td>22</td>
                <td>SH Theni (BOYS & GIRLS)</td>
                <td>Basketball (Boys)</td>
                <!-- <td>J.Ramesh Rayar(Visit)</td> -->
                <td>20</td>
                <td>21</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Kabaddi (Boys)</td>
                <!-- <td>M.Nagaraj</td> -->
                <td>20</td>
                <td>29</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball (Girls)</td>
                <!-- <td>A.J.Ananda Babu</td> -->
                <td>20</td>
                <td>10</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>60</strong></td>
              </tr>
              <tr>
                <td>23</td>
                <td>SH Tuticorin (Boys)</td>
                <!-- <td>Athletics</td> -->
                <td>N.Padmanaban</td>
                <td>13</td>
                <td>8</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>R.Anand Fernando</td> -->
                <td>24</td>
                <td>22</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>Samson William</td> -->
                <td>20</td>
                <td>24</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Squash (Visiting)</td>
                <td>3</td>
                <td>12</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>66</strong></td>
              </tr>
              <tr>
                <td>24</td>
                <td>SH Trichy (Boys)</td>
                <td>Athletics</td>
                <!-- <td>O.Gnanasuganthi</td> -->
                <td>25</td>
                <td>24</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Boxing</td>
                <!-- <td>Hariprasad</td> -->
                <td>10</td>
                <td>7</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>G.Gunasekaran</td> -->
                <td>35</td>
                <td>40</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>Karthikeyan</td> -->
                <td>35</td>
                <td>34</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Swimming</td>
                <td>10</td>
                <td>3</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>C.Bhaskar</td> -->
                <td>25</td>
                <td>23</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>140</strong></td>
                <td><strong>131</strong></td>
              </tr>
              <tr>
                <td>25</td>
                <td>SH Tirunelveli (BOYS)</td>
                <td>Athletics</td>
                <!-- <td>S.Maheswaran</td> -->
                <td>22</td>
                <td>15</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>B.Palanivignesh</td> -->
                <td>25</td>
                <td>14</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Football</td>
                <!-- <td>Jayaprakash</td> -->
                <td>15</td>
                <td>17</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>N.Honest Raja</td> -->
                <td>35</td>
                <td>34</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Swimming</td>
                <!-- <td>Sathish kumar Balan (i/c)</td> -->
                <td>15</td>
                <td>5</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Volleyball</td>
                <!-- <td>M.Arulbose</td> -->
                <td>25</td>
                <td>20</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Tennis</td>
                <!-- <td>K.Dhanraj (CoE)</td> -->
                <td>3</td>
                <td>1</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>140</strong></td>
                <td><strong>106</strong></td>
              </tr>
              <tr>
                <td>26</td>
                <td>SH Tiruvannamalai (Girls)</td>
                <td>Athletics</td>
                <!-- <td>T. Pradeesh</td> -->
                <td>30</td>
                <td>27</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Basketball</td>
                <!-- <td>K.Shanmuga Priyan</td> -->
                <td>25</td>
                <td>21</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Handball</td>
                <!-- <td>Shanmugapriya Manager(i/c)</td> -->
                <td>30</td>
                <td>27</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Hockey</td>
                <!-- <td>V.Jayasudha(Visit)</td> -->
                <td>35</td>
                <td>24</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>120</strong></td>
                <td><strong>99</strong></td>
              </tr>
              <tr>
                <td>27</td>
                <td>SH Villupuram (Boys)</td>
                <td>Kabaddi</td>
                <!-- <td>T.Pappathi</td> -->
                <td>28</td>
                <td>28</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Handball</td>
                <!-- <td>Sitaraman (Visit)</td> -->
                <td>32</td>
                <td>25</td>
              </tr>
              <tr>
                <!-- <td></td> -->
                <td></td>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>60</strong></td>
                <td><strong>53</strong></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" style="text-align: right; padding-right: 8px;"><strong>Grand Total</strong></td>
                <td><strong>1925</strong></td>
                <td><strong>1629</strong></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="nine" [class.active]="fragment === 'nine'" [class.show]="fragment === 'nine'">
        <h4 i18n>Sports Hostels of Excellence</h4>
        <p i18n>
          The Sports Hostel of Excellence is meant to provide sports training to
          college students. Apart from advanced training, a nutritious diet and
          financial assistance for participation in various levels of
          competitions are provided to the students. Sports Hostels of
          Excellence focus on identifying potential talents and cultivating them
          to achieve national and international recognition. Athletes are
          admitted into various disciplines each year through state-level
          selection trials. Four Sports Hostels of Excellence have been
          established to offer college students the opportunity to receive
          scientific and technology-based sports coaching in select sports and
          games.
          The Sports Hostels of Excellence for both men and women are functioning in the following four places with the present strength of 182 in the State:

        </p>
        <table>
          <thead>
            <tr>
              <th>Sl. No.</th>
              <th>Name of the Sports Hostel</th>
              <th>Discipline</th>
              <!-- <th>Name of the Coach</th> -->
              <th>Allotted Strength</th>
              <th>Present Strength</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>SHE JNIS (Girls)</td>
              <td>Athletics</td>
              <!-- <td>Gomathi Jai Shankar</td> -->
              <td>15</td>
              <td>10</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Volleyball</td>
              <!-- <td>S.Santhosh</td> -->
              <td>18</td>
              <td>17</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Football</td>
              <!-- <td>S. Abarna</td> -->
              <td>18</td>
              <td>17</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Boxing</td>
              <!-- <td>Narmadha</td> -->
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Judo</td>
              <!-- <td>M.Manikandan</td> -->
              <td>3</td>
              <td>5</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Weightlifting</td>
              <!-- <td>P.Manoj Prabakar</td> -->
              <td>3</td>
              <td>4</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Basketball</td>
              <!-- <td>Muthukumarasamyt</td> -->
              <td>15</td>
              <td>10</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>TOTAL</strong></td>
              <td></td>
              <td><strong>75</strong></td>
              <td><strong>67</strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td>SHE-Boys JNS, Chennai</td>
              <td>Athletics</td>
              <!-- <td>M.Vinoth</td> -->
              <td>14</td>
              <td>12</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Basketball</td>
              <!-- <td>K.Ramprasad</td> -->
              <td>24</td>
              <td>20</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Boxing</td>
              <!-- <td>Periyar (Visiting)</td> -->
              <td>10</td>
              <td>7</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Volleyball</td>
              <!-- <td>Dinesh</td> -->
              <td>22</td>
              <td>17</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Judo</td>
              <!-- <td>R.Sarath Babu</td> -->
              <td>6</td>
              <td>12</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Weightlifting</td>
              <!-- <td>P.Manoj Prabakar</td> -->
              <td>3</td>
              <td>2</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Fencing</td>
              <!-- <td>K.P.Gjjo Nidhi</td> -->
              <td>1</td>
              <td>5</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>80</strong></td>
              <td><strong>75</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td>SHE (Boys), Kovilpatti, Tuticorin</td>
              <td>Hockey</td>
              <!-- <td>N.Muthukumar</td> -->
              <td>30</td>
              <td>28</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>30</strong></td>
              <td><strong>28</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td>SHE (Girls) Katpadi, Vellore</td>
              <td>Hockey</td>
              <!-- <td>S.Rasna</td> -->
              <td>15</td>
              <td>0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Handball</td>
              <!-- <td>N.Dinakaran</td> -->
              <td>15</td>
              <td>11</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Kabaddi</td>
              <!-- <td>P.Nathiya</td> -->
              <td>15</td>
              <td>1</td>
            </tr>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td><strong>Total</strong></td>
              <td></td>
              <td><strong>45</strong></td>
              <td><strong>12</strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" style="text-align: right; padding-right: 8px;"><strong>Grand Total</strong></td>
              <td><strong>230</strong></td>
              <td><strong>182</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
