<!--  -->
<section
  class="container-fluid"
  style="background-color: rgba(44, 66, 87, 0.6)"
>
  <div class="container">
    <div class="row py-5">
      <div class="col-md-3 text-white initiatives">
        <!-- <h2>OUR INITIATIVES</h2> -->
        <p class="fs-4" i18n>
          OUR <br /><span class="fs-4 fw-bold">INITIATIVES</span>
        </p>
        <p class="" i18n>
          Highlights of our multi pronged approach to create winning culture.
          Click the icons to know more.
        </p>
      </div>
      <div class="col-md-9">
        <div class="cards">
          <div class="card" (click)="navigateToTab('one')">
            <div class="card__inner">
              <span class="p-4"
              i18n >TN 
                Chief Minister's 
                Trophy</span
              >
            </div>
          </div>

          <div class="card" (click)="navigateToTab('two')">
            <div class="card__inner">
              <span class="p-4" i18n>Special scholarship for Elite sports persons</span>
            </div>
          </div>

          <div class="card" (click)="navigateToTab('three')">
            <div class="card__inner">
              <span class="p-4" i18n>Mission International Medals Scheme - MIMS</span>
            </div>
          </div>

          <div class="card" (click)="navigateToTab('four')">
            <div class="card__inner">
              <span class="p-4" i18n>Champions Development Scheme - CDS </span>
            </div>
          </div>

          <div class="card" (click)="navigateToTab('five')">
            <div class="card__inner">
              <span class="p-4" i18n>World Beaters Talent Spotting Scheme</span>
            </div>
          </div>

          <div class="card" (click)="navigateToTab('six')"> 
            <div class="card__inner">
              <span class="p-4"
              i18n >Centers 
                of 
                Excellence</span
              >
            </div>
          </div>

          <div class="card" (click)="navigateToTab('seven')">
            <div class="card__inner">
              <span class="p-4" i18n>Specialized Sports Academies</span>
            </div>
          </div>

          <div class="card" (click)="navigateToTab('eight')">
            <div class="card__inner" >
              <span class="p-4"
              i18n>Sports 
                Hostels</span
              >
            </div>
          </div>

          <div class="card" (click)="navigateToTab('nine')">
            <div class="card__inner">
              <span class="p-4"
              i18n>Sports Hostels 
                of 
                Excellence</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
