<!-- <app-header></app-header> -->
<app-header singleImege="/assets/logo/banner-img/aboutus.jpg"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="/assets/logo/banner-img/aboutus.jpg" alt="" width="100%" height="360px">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Introduction and Acceptance</h4>
      <p>
        The TN Champions Foundation, an initiative of the Government of Tamil
        Nadu under the Department of Youth Welfare and Sports , offers the
        public to have access to its interactive online websites, applications
        and services. These Terms of Use, together with our (“Privacy Policy”)
        govern the use of the websites (“Website”) or any of our mobile widgets
        or other applications (“Applications”) – together, our “Services”. Our
        Services include all other places where we place these Terms of Use, as
        well as all mobile and tablet applications.
      </p>
      <p>
        PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING OUR SERVICES. BY
        USING ANY OF OUR SERVICES (OTHER THAN TO READ THESE TERMS OF USE FOR THE
        FIRST TIME) YOU ARE AGREEING TO COMPLY WITH THESE TERMS OF USE, WHICH
        MAY CHANGE FROM TIME TO TIME. IF YOU DO NOT AGREE TO BE BOUND BY THESE
        TERMS OF USE, DO NOT USE OUR SERVICES. ON VIOLATING THE TERMS AND
        CONDITIONS MENTIONED SEVERE LEGAL ACTION WILL BE TAKEN.
      </p>
      <h4>Legal Status:</h4>
      <p>
        The TN Champions Foundation is registered as a society under section 10
        of the TN Society Registration Act, 1975. The foundation will be
        incorporated under the section 8 of the Indian Companies Act, 1961 with
        appropriate administrative structures.
      </p>
      <p>
        <span class="text-danger">The Registration Number:</span>SRG/Chennai
        Central/109/2023
      </p>
      <span class="text-danger"
        >Income Tax Permanent Account No. AAMAT2732K</span
      ><br />
      <span class="text-danger"
        >Contribution to The TN Champions Foundation is exempted under 12A / 80
        G of the Indian Income Tax Ac</span
      ><br />
      <p>
        <span class="text-danger">Date of Incorporation:</span>22 April 2023.
      </p>
      <h4>Consent to Electronic Disclosures:</h4>
      <p>
        You must consent to use The TN Champions Foundation by providing
        information if you would like to proceed. This notice must be read
        carefully and a copy may be retained for future reference. On your
        consent to receive information electronically the following disclosures
        will be sent via electronic mail provided by public i.e., the end user
        or our website:
      </p>
      <p>
        1.The TN Champions Foundation’s Terms and Conditions, including Legal
        Disclosures. <br />
        2. The TN Champions Foundation’s Privacy Policy. <br />
        3. Account Information. <br />
        4. All other Legal Notices and Communications and/or Disclosures.
      </p>
      <p>
        In order to receive this information through an electronic medium, you
        must have access to a computer or mobile smart phone with internet
        access and the ability to receive e-mail. Please be advised that some
        web browsers may not be supported
      </p>
      <h4>ON Registering for</h4>
      <p>
        The TN Champions Foundation, yourself here: <br />
        1 Agree to receive information and disclosures electronically on this
        Website and/or via E-mail/SMS- bypassing DND and confirm that you will
        download and print any disclosures for your own personal records. <br />
        2 Confirm that you can receive and understand information that is
        provided electronically at this Website and via E-mail/SMS. <br />
        Notices shall be considered as received (or delivered by/to the end
        user) within 24 hours from the time it has been posted on the website or
        e- mailed to you
      </p>
      <h4>Identity Authentication:</h4>
      <p>
        In order to remain compliant with the laws established by the Republic
        of India, The TN Champions Foundation reserves the right to obtain,
        verify and sometimes store personal information. The TN Champions
        Foundation is not a philanthropic initiative; however as required by The
        TN Champions Foundation must store certain pieces of customer
        information and cooperate with law enforcement to help the government
        fight terrorism and money laundering. The TN Champions Foundation may
        also share this information with some strategic partners.
      </p>
      <h4>Payment Services:</h4>
      <p>
        The TN Champions Foundation’s website is an online platform for raising
        funds, where donors can donate for causes and sports needs. Through the
        Web Site/ E-mail/ SMS and other Media, the Service makes accessible
        various content, including, but not limited to, videos, photographs,
        images, artwork, graphics, audio clips, comments, data, text, software,
        projects, other material and information, and associated trademarks and
        copyrightable works (collectively, “E-Content/Digital Content”).
        Contributors and beneficiaries, and other visitors to and users of the
        Service (collectively “Users”) may have the ability to contribute,
        add,create, upload, submit, distribute, facilitate the distribution of,
        collect, post, or otherwise make accessible (“Submit”) Content in their
        Social Media pages without affecting the integrity of the
        cause/initiative. “User Submissions” means any Content Submitted by
        Users in their personal social media pages. The Site offers various
        payment gateways to facilitate transaction of funds. However, it may be
        noted that the Site and the organisation: Do not offer the platform to
        Users for investing in a project for the purpose of profit making.
      </p>
      <p>
        Once a user has contributed, they cannot withdraw their contribution.
        However, in case of a discrepancy, the user can get in touch with the
        team at <a href="">tnchampionsfoundation@gmail.com</a> in the matter
        will be solved through an offline process
      </p>
      <h4>Intellectual Property:</h4>
      <p>
        Our Services and associated content (and any derivative works or
        enhancements of the same) including, but not limited to, all text,
        illustrations, files, images, software, scripts, graphics, photos,
        sounds, music, videos, information, content, materials, products,
        services, URLs, technology, documentation, and interactive features
        included with or available through our Services (collectively, the
        “Service Content”) and all intellectual property rights thereof are
        owned by The Department, our licensors, or both. Additionally, all
        trademarks, service marks, trade names and trade dress that may appear
        in our Services are owned by us, our licensors, or the identified third
        parties.
      </p>

      <h4>Access and Use:</h4>
      <p>
        In connection with the use of our website and/or mobile/tablet
        applications, your account, or the services, or in the course of your
        interactions with The TN Champions Foundation, a User or a third party,
        you will not:
      </p>
      <p>
        Violate any Law, Statute, Ordinance, or Regulation (for example, those
        governing financial services, consumer protections, unfair competition,
        anti-discrimination or false advertising);  Act in a manner that is
        defamatory, trade libellous, unlawfully threatening or unlawfully
        harassing;  Provide false, inaccurate or misleading Information;  Send
        what we reasonably believe to be potentially fraudulent funds;  Refuse
        to cooperate in an investigation or provide confirmation of your
        identity or any Information you provide to us;  Use an anonymous proxy;
         Conduct your business or use the Services in a manner that results in
        or may result in complaints, Disputes, Claims, Reversals, Charge backs,
        fees, fines, penalties and other liability to The TN Champions
        Foundation, a User, a third party or you;  Take any action that imposes
        an unreasonable or disproportionately large load on our infrastructure;
         Facilitate any viruses, Trojan horses, worms or other computer
        programming routines that may damage, detrimentally interfere with,
        surreptitiously intercept or expropriate any system, data or
        Information;  Use any robot, spider, other automatic device, or manual
        process to monitor or copy our website without our prior written
        permission;  Use any device, software or routine to bypass our robot
        exclusion headers, or interfere or attempt to interfere, with our
        website or the Services;  Take any action that may cause us to lose any
        of the services from our internet service providers, payment processors,
        or other suppliers;
      </p>
      <p>
        You agree to fully cooperate with us to investigate any suspected or
        actual activity that is in breach of these Terms of Use.
      </p>
      <h4>Miscellaneous</h4>
      <p>
        No waiver by either party of any breach or default here under shall be
        deemed to be a waiver of any preceding or subsequent breach or default.
        The section headings used herein are for convenience only and shall not
        be given any legal import.
      </p>
      <p>
        Except where specifically stated otherwise, if any part of these Terms
        of Use is unlawful or unenforceable for any reason, we both agree that
        only that part of the Terms of Use shall be stricken and that the
        remaining terms in the Terms of Use shall not be affected.
      </p>
      <p>
        These Terms of Use (including the Privacy Policy and any Additional
        Terms incorporated by reference) constitute the entire agreement of the
        parties with respect to the subject matter hereof.
      </p>
      <p>
        You may not assign these Terms of Use or assign any rights or delegate
        any obligations here under, in whole or in part, without our prior
        written consent. Any such purported assignment or delegation by the
        endues without the appropriate prior written consent will be null and
        void and of no force and effect. We may assign these Terms of Use or any
        rights here under without your consent and without notice.
      </p>
      <p>
        In case of any dispute in connection with and/or arising out of the use
        of web portal/ payment gateway shall be resolved mutually. Any dispute
        between the The TN Champions Foundation and user shall be subject to the
        territorial jurisdiction of the Civil Courts having jurisdiction over
        Chennai.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
