
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    background-color: #55ACEE;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  