<!-- <app-header></app-header> -->
<app-header singleImege="/assets/logo/banner-img/aboutus.jpg"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="padding: unset;">
      <img src="../../../../assets/logo/banner-img/banner2.JPG" alt="" class="img-banner">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <p class="text-primary text-uppercase pb-5" i18n>About Us</p>

    <div class="col-md-10 about-us">
      <p i18n>
        An initiative to partner with citizens and corporate to revamp sports in
        Tamil Nadu.
      </p>
    </div>

    <div class="row">
      <div class="col-md-10 vision">
        <h4 class="fw-bold" i18n>Vision</h4>
        <p i18n>
          To re-imagine, rejuvenate and reinvigorate the sporting culture,
          ecosystem, and infrastructure in Tamil Nadu.
        </p>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-10 vision">
        <h4 class="fw-bold" i18n>Mission</h4>
        <p i18n>
          1. To put in place state-of-the-art sports infrastructure and sporting
          amenities
        </p>
        <p i18n>
          2. To identify, nurture and support sports persons across the spectrum
        </p>
        <p i18n>3. To provide world-class training/coaching to the sports persons</p>
        <p i18n>
          4. To promote diverse disciplines of sports including traditional
          sports
        </p>
        <p i18n>
          5. To promote research and development in the field of sports science
        </p>
        <p i18n>
          6. To promote sports in its various forms - lifestyle, recreational,
          etc.
        </p>
        <p i18n>
          7. To make sports an accessible, equitable and universal phenomenon
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background: #f6f0e0">
  <div class="container mt-5 py-5">
    <div class="row">
      <div class="col-md-9">
        <p class="fs-4" i18n>OUR <br /><span class="fs-1 fw-bold">TEAM</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p i18n>
          An initiative to partner with citizens and corporate to revamp sports
          in Tamil Nadu.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="nav flex-row nav-pills select-tbs" role="tablist" aria-orientation="vertical">
          <div class="tabs-sel active" data-bs-toggle="pill" data-bs-target="#one" i18n>
            Board of Directors
          </div>
          <!-- <div class="tabs-sel" data-bs-toggle="pill" data-bs-target="#two" i18n>
            Chief Mentor/s
          </div> -->
          <div class="tabs-sel" data-bs-toggle="pill" data-bs-target="#three" i18n>
            Executive Committee
          </div>
          <div class="tabs-sel sell" data-bs-toggle="pill" data-bs-target="#four" i18n>
            District-level committee
          </div>
          <div class="tabs-sel" data-bs-toggle="pill" data-bs-target="#five" i18n>
            CSR Secretariat
          </div>
        </div>
        <hr style="border: 1px solid rgba(0, 0, 0, 0.4);margin: unset;" />

      </div>
    </div>
    <!--  -->
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade active show" id="one">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5  i18n>Chairperson</h5>
              <h6 class="fw-bold">Thiru Udhayanidhi Stalin</h6>
              <p class="text-secondary" i18n>
                Minister for Youth Welfare and Sports Development
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Vice-Chairperson</h5>
              <h6 class="fw-bold">Dr Atulya Misra, IAS.,</h6>
              <p class="text-secondary" i18n>
                ACS, Youth Welfare and Sports Development
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <!-- <img
                src="/assets/image/sports-banner.png"
                class=""
                height="238px"
                alt=""
              /> -->
              <!-- <h4>Name</h4> -->
              <h5 i18n>Executive Chairperson(s)</h5>
              <h6 class="fw-bold"></h6>
              <p class="text-secondary" i18n>Representatives from corporate field</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">

              <h5 i18n>Member Convenor</h5>
              <h6 class="fw-bold">Thiru J. Meghanatha Reddy IAS.,</h6>
              <p class="text-secondary" i18n>Member Secretary, SDAT</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">

              <h5 i18n>Member</h5>
              <h6 class="fw-bold">Thiru T. Udhayachandran, IAS.,</h6>
              <span class="text-secondary" i18n="@@Principal">Principal Secretary to Government</span> <br>
              <span>Finance Department
              </span>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">

              <h5 i18n>Member</h5>
              <h6 class="fw-bold">Thiru V Arun Roy, IAS.,</h6>
              <span class="text-secondary" i18n="=@@Secretary1">Secretary to Government</span> <br>
              <span>Industries Department
              </span>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member</h5>
              <h6 class="fw-bold">Thiru J. Kumaragurubaran, IAS</h6>
              <span class="text-secondary" i18n="=@@Secretary">Secretary to Government</span> <br>
              <span >InformationTechnology Department
              </span>
            </div>
          </div> -->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member</h5>
              <h6 class="fw-bold">Thiru Dheeraj Kumar, IAS,</h6>
              <span class="text-secondary" i18n="=@@Secretary">Additional Chief Secretary to Government,</span>
              <br>
              <span >InformationTechnology Department
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="two">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">

              <h5 class="fw-bold" i18n>Chief Mentor/s</h5>
              <p class="text-secondary" i18n>
                Eminent sports persons from various sporting disciplines
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="three">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 class="fw-bold" i18n>Chairperson</h5>
              <p class="text-secondary" i18n>
                ACS, Youth Welfare and Sports Development
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member Convenor</h5>
              <p class="text-secondary" i18n>Member Secretary, SDAT</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member</h5>
              <p class="text-secondary" i18n>
                A representative from Finance Department
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member</h5>
              <p class="text-secondary" i18n>
                A representative from Industries Department
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">

              <h5 class="fw-bold" i18n>Member</h5>
              <p class="text-secondary" i18n>A representative from IT Department</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 bg">
            <div class="box-part">
              <h5 i18n>Member</h5>
              <p class="text-secondary" i18n>Operational Head of CSR Secretariat</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="four">

        <h4 class="pt-5" i18n>District-level committee</h4>
        <p class="pt-3" i18n>1. Chairperson - District Collector.</p>
        <p i18n>2. Member Convener - District Sports Officer</p>
        <p i18n>3. Member - District Revenue Officer</p>
        <p i18n>4. Member - Project Officer - DRDA</p>
        <p i18n>
          5. Three members nominated by the District Collector - one member from
          the field of sports, one member representing industries and one member
          from an NGO
        </p>
      </div>
      <div class="tab-pane fade" id="five">
        <h4 class="pt-5" i18n>CSR Secretariat</h4>
        <p i18n>1. An operational Head of the CSR Secretariat</p>
        <p i18n>2. A coordinator for Finance</p>
        <p i18n>3. A coordinator for Corporate Management</p>
        <p i18n>4. A coordinator for IT and Communications</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5 py-5">
    <div class="col-md-3">
      <p class="fs-4" i18n>
        UTILIZATION<br /><span class="fs-1 fw-bold">NORMS</span>
      </p>

      <p i18n>
        The donations received through the Champions Foundation will be used according to the following norms
      </p>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="Training">
          <img src="assets/image/training.svg" alt="" Width="121px" Height="108px" />
          <h5 class="text-center text-white pt-4" i18n>Training</h5>
        </div>
        <div class="Training">
          <img src="../../../../assets/image/icon4.png" alt="" Width="121px" Height="108px" />
          <h5 class="text-center text-white pt-4" i18n="@@competitions">Competition Support</h5>
        </div>
        <div class="Training">
          <img src="../../../../assets/image/icon1.png" alt="" Width="121px" Height="108px" />
          <h5 class="text-center text-white pt-4" i18n="@@Sports">Sports Equipment</h5>
        </div>
        <div class="Training">
          <img src="assets/image/Hostels.svg" alt="" Width="121px" Height="108px" />
          <h5 class="text-center text-white pt-4" i18n>Infrastructure</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>